nav {
  display: flex;
  height: 72px;
  background-color: #00008b;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 0 1vw;
    background-color: #f8f8ff;
    border-radius: 20px;
  }
}
